/* #region General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* #endregion General */

/* #region Utilities */
:root{
    --main: #ff9614;
    --bg-main: #f6f5f3;
    --title-color: #4e396d;
    --facebook: #348cf5;
    --twitter: #009eff;
}

.debug{
    border: 2px dashed;
}

.container{
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
}

.py-1-5{
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}
/* #endregion Utilities */

body{
    background-color: var(--bg-main);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;;
}



/* #region Header */
header{
    background-color: white;
}

.name-site{
    text-align: center;
    color: var(--main);
    font-family: nerko one;
}

/* #endregion Header */

/* #region Section Video e Info */
#type{
    color: gray;
    padding: 1rem;
}

.title{
    color: var(--title-color);
    font-weight: bolder;
    padding: 1.5rem 0;
    /* padding-left: 1rem; */
}

.title-md{
    display: none;
}

.video{
    padding-left: 1rem;
}

.recap{
    background-color: white;
   /*  box-shadow: 2px 2px; */
    h4{
        padding: 1.5rem
    }
}

.list-info{
    list-style: none;
}
/* #endregion Section Video e Info */

/* #region Social */
.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

.social-icons{
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 5px 5px lightgrey;
}

#instagram, #pinterest, #youtube{
    color: red;
}
/* #endregion Social */

/* #region Banner */
.banner{
    display: none;
}
/* #endregion Banner */


/* #region Presentation */
hr{
    width: 20%;
    border: 3px solid #ff9614;
}
/* #endregion Presentation */



/* #region Media Query */
@media screen and (min-width: 768px){
.name-site-md{
        text-align: left;
        padding: 1rem;
}
.title{
    display: none;
}

.title-md{
    display: block;
    font-weight: bolder;
    color: var(--title-color);
    padding: 1.5rem 0;
    /* padding-left: 1rem; */
}
.recap-md{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    display: inline-block;
}
.social-logo-md{
    width: 70px;
    aspect-ratio: 2.5;
    padding: 0.25rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 3px gray;
    margin: 1.5rem 0;
}

.social-text-lg{
    text-decoration: none;
    font-size: 0.5rem;
}

.banner-md{
    display: block;
}


}



@media screen and (min-width: 992px){
    .name-site-md{
        text-align: left;
        padding: 1rem;
    }
    .title{
        display: none;
    }

    .title-lg{
        display: block;
        font-weight: bolder;
        color: var(--title-color);
        padding-bottom: 1.5rem 0;
        /* padding-left: 1rem; */
    }

    .col-3-lg{
        width: calc(100% / 12 * 3);
    }

    .col-9-lg{
        width: calc(100% / 12 * 9);
    }

    .card{
        display: flex;
        flex-wrap: wrap;
    }

    .p-1-5-lg{
        padding: 0.5rem 0;
    }

    .recap-lg{
        padding-right: 5rem;
    }

    .banner-lg{
        display: block;
    }
}
/* #endregion Media Query */







