/* #region General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* #endregion General */

/* #region Utilities */
:root{
    --main: #ff9614;
    --bg-main: #f6f5f3;
    --title-color: #4e396d;
}

.debug{
    border: 2px dashed;
}

.container{
    width: 100%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
}

.py-1-5{
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}
/* #endregion Utilities */

body{
    background-color: var(--bg-main);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;;
}

/* #region Header */
header{
    background-color: white;
}

h1{
    text-align: center;
    color: var(--main);
    font-family: nerko one;
}

/* #endregion Header */
#type{
    color: gray;
    padding: 1rem;
}

#title{
    color: var(--title-color);
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

#video{
    margin-top: 0rem;
}

#recap{
    background-color: white;
   /*  box-shadow: 2px 2px; */
    h4{
        padding: 1.5rem
    }
}



